<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<title>{% block title %}Welcome{% endblock %} — TIGHTest</title>
<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Blog Atom Feed" />
<body>
  <header>
    <h1><a href="/">TIGHTest</a></h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
  🐰
  <!--
    <small>&copy; Copyright 2017 by Stefan.</small>
  -->
  </footer>
</body>
